.container, .container-md, .container-sm {
    max-width: 95%;
}

.btn-primary.disabled, .btn-primary:disabled {
    margin-left: 5px;
    margin-right: 5px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    margin-left: 5px;
    margin-right: 5px;
}

.css-mhc70k-MuiGrid-root {
    margin-top: 0px;
    width: 31vw;
    margin-left: -22px !important;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-top: 0px;
}

.css-auylq4-MuiGrid-root {
    max-width: fit-content;
}

.MuiButton-containedPrimary {
    background-color: #D92E1D !important;
    border-color: #D92E1D !important;
    color: #ffffff !important;
  }
  
  .MuiButton-outlinedPrimary {
    border-color: #D92E1D !important;
    color: #D92E1D !important;
  }

  .table>:not(:first-child) {
    border-top: 2px solid #AD1B02;
}

.table>:not(caption)>*>* {
    vertical-align: baseline !important;
    padding: 1rem 0.5rem;
}