.App {
  /* text-align: center; */
  font-family: Georgia, serif;
}

.Description {
  text-align: right;
}
.align {
  text-align: left;
}

.navbar {
  min-height: 80px;
  margin-top: -20px;
}
.navbar-brand {
  color: white;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 500;
}
.img-fluid {
  height: 15rem !important;
  width: 100% !important;
}
.form-inline {
  margin-top: 17px !important;
}
.imgBox {
  width: 100px;
  height: 100px;
  background-size: cover;
  border: 1px solid #3f729b;
  margin-top: 10px;
}

.leftHeader {
  background: linear-gradient(180deg, #4aaebd 0%, rgba(108, 12, 184, 0) 100%);
}

.my-fev {
  color: "white";
  background-color: "#FD6412";
}
.my-not-fev {
  color: "white";
  background-color: "#FD6412";
}

.MuiButton-containedPrimary {
  background-color: #D92E1D !important;
  border-color: #D92E1D !important;
  color: #ffffff !important;
}

.MuiButton-outlinedPrimary {
  border-color: #D92E1D !important;
  color: #D92E1D !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #AD1B02 !important;
}

a:hover {
  color: #F3BE26 !important;
}

.css-17dcqu8-MuiTypography-root-MuiLink-root {
  color: #AD1B02 !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #AD1B02 !important;
  font-weight: 600 !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  color: #E88D14 !important;
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root {
  color: #AD1B02 !important;
  font-weight: 600 !important;
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root:hover {
  color: #E88D14 !important;
}
